[submodule "themes/cupper"]
	path = themes/cupper
	url = https://github.com/joelouthan/cupper-hugo-theme.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/joelouthan/hugo-book.git 
