<!-- Head custom content area start -->
<!--
Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. Can be overwritten by partial with the same name in the global layouts.
-->
<a rel="me" href="https://bibly.com/@joseph"></a>
<a rel="me" href="https://puritan.pub/@joe"></a>
<!-- Head custom content area end -->
{{ if eq .Params.css "home-devos"}}
{{ template "css/home-devos.html" }}
{{ end }}
{{ if eq .Params.css "prayers"}}
{{ template "css/prayers.html" }}
{{ end }}
{{ if eq .Params.css "questions"}}
{{ template "css/questions.html" }}
{{ end }}
{{- if not .Params.Index -}}
{{- end -}}

{{ with .Params.image }}
<meta itemprop="image" content="{{ . | absURL }}" />
<meta property="og:image" content="{{ . | absURL }}" />

{{ else }}
<meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}