<!-- Head custom content area start -->
<!--
Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. Can be overwritten by partial with the same name in the global layouts.
-->
<a rel="me" href="https://bibly.com/@joseph"></a>
<!-- Head custom content area end -->
{{ if eq .Params.css "home-devos"}}
{{ template "css/home-devos.html" }}
{{ end }}
{{ if eq .Params.css "prayers"}}
{{ template "css/prayers.html" }}
{{ end }}
{{- if not .Params.Index -}}
<meta name="robots" content="noindex">
{{- end -}}