<footer role="contentinfo">
  <blockquote style="border: 2px solid #666; padding: 10px; background-color: #ccc; text-align: left;overflow: auto;vertical-align:middle;"><img src="{{ "images/joe-eli-snake.png" | absURL }}" style="margin-right:10px;width:100px;height:100px;float:left"><strong>About The Author:</strong> Joseph Louthan<br>
	  <small>
      <em>Trying to waste my time with God.</em><br>
      More info: <a href="https://linktr.ee/josephlouthan" target="_blank">linktr.ee/josephlouthan</a><br>
	  </small></blockquote>
  <div>
    <label for="themer">
      dark theme: <input type="checkbox" id="themer" class="vh">
      <span aria-hidden="true"></span>
    </label>
  </div>
  {{ with .Site.Params.footer }}
    {{ . | markdownify }}
  {{ end }}
</footer>
