<!-- Primary Meta Tags -->
<title>Theologicus</title>
<meta name="title" content="Theologicus">
<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<base href="{{ .Permalink }}" />
<meta name="url" content="{{ .Permalink }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="Theologicus">
<meta property="og:description" content="{{ .Params.description }}" />
<meta property="og:image" content="/images/metatag-theologicus-thor-1200x628.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="twitter:title" content="Theologicus">
<meta name="twitter:description" content="{{ .Params.description }}" />
<meta property="twitter:image" content="/images/metatag-theologicus-thor-1200x628.jpg">
