<script>
  window.podcastData = {
    "title": "Theologicus",
    "subtitle": "Trying to waste my time with God",
    "description": "Daily devotions on the goodness of God--based on the writings located at Theologicus.",
    "cover": "https://theologic.us/images/apple-thor-logo-1600x.jpg",
    "feeds": [
      {
        "type": "audio",
        "format": "mp3",
        "url": "https://media.theologic.us/audio/",
        "directory-url-itunes": "https://podcasts.apple.com/us/podcast/podcasts-on-theologicus/id1557102127"
      }
    ]
  }
</script>
<script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js"
  data-language="en" data-size="big" data-json-data="podcastData" data-color="#ff0000" data-format="cover"
  data-style="outline"></script>
<noscript><a href="https://podcasts.apple.com/us/podcast/podcasts-on-theologicus/id1557102127">Subscribe to
    feed</a></noscript>